pre {
  padding: 1rem;
}

pre > code > details {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  pre {
    background: rgba(0,0,0,0.025);
  }
}

@media (prefers-color-scheme: dark) {
  pre {
    background: rgba(255,255,255,0.025);
  }
}
