.overview {
  display: grid;
}

@media (width >= 40rem) {
  body {
    width: 95%;
  }
}

@media (width >= 48rem) {
  body {
    width: 90%;
  }
}

@media (width >= 64rem) {
  body {
    width: 75%;
  }

  .overview {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width >= 80rem) {
  body {
    width: 60%;
  }
}

