@font-face {
  font-family: 'JetBrains Mono Regular';
  font-style: regular;
  font-display: swap;
  src:
    url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono Bold';
  font-style: bold;
  font-display: swap;
  src:
    url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible Regular';
  font-display: swap;
  font-style: regular;
  src:
    url('../fonts/AtkinsonHyperlegible-Regular.woff2')
}

@font-face {
  font-family: 'Atkinson Hyperlegible Bold';
  font-display: swap;
  font-style: bold;
  src:
    url('../fonts/AtkinsonHyperlegible-Bold.woff2')
}

@font-face {
  font-family: 'Atkinson Hyperlegible Italic';
  font-display: swap;
  font-style: italic;
  src:
    url('../fonts/AtkinsonHyperlegible-Italic.woff2')
}
