@import 'components/nav.css';
@import 'components/footer.css';

code {
  font-size: 0.8em!important;
}

body {
  margin: 0 auto!important;
  font-weight: regular;
  font-family: serif;
  width: 95%;
}

table.projects {
  width: 100%;
}

table.projects caption {
  padding: 0.25rem;
  caption-side: bottom;
}

table.projects td, table.projects th {
  padding: 0.15rem;
}

@media (prefers-color-scheme: dark) {
  table, tbody, thead, th, td {
    border-collapse: collapse;
    border: 1px solid gray;
  }
}

@media(prefers-color-scheme: light) {
  table, tbody, thead, th, td {
    border-collapse: collapse;
    border: 1px solid black;
  }
}

table.projects th {
  text-align: left;
}

table.projects tr > td:nth-child(2) {
}

@media(prefers-color-scheme: dark) {
  body {
    background: black;
  }
}

section > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

section:has(nav) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (width >= 40rem) {
  body {
    width: 95%;
  }
}

@media (width >= 48rem) {
  body {
    width: 90%;
  }
}

@media (width >= 64rem) {
  body {
    width: 75%;
  }
}

@media (width >= 80rem) {
  body {
    width: 45%;
  }
}

@media (width >= 96rem) {
  body {
    width: 45rem;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  text-decoration: none!important;
}

