@import 'normalize.min.css';
@import 'gruvbox-dark-medium.min.css';
@import 'font.css';

body {
  background-color: #1a1919;
  color: #fbf1c7;
  font-size-adjust: 0.45;
  margin: 0 auto;
  font-family: Atkinson Hyperlegible Regular, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: regular;
}

@media (width <= 768px) {
  body {
    width: 85%;
    font-size: 1.15rem;
  }

  pre {
    & > code {
      font-size: 1.15rem;
    }
  }

  .nav {
    ul {
      li {
        font-size: 1.15rem;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.25rem;
  }
}

@media (769px <= width <= 1024px) {
  body {
    width: 60%;
    font-size: 1.15rem;
  }

  pre {
    & > code {
      font-size: 1.15rem;
    }
  }
}

@media (1024px <= width <= 1215px) {
  body {
    width: 65%;
    font-size: 1.25rem;
  }

  pre {
    & > code {
      font-size: 1.15rem;
    }
  }
}

@media(1216px <= width <= 1407px) {
  body {
    width: 60%;
  }
}

@media(1408px <= width <= 1919px) {
  body {
    width: 50%;
  }
}

@media(1920px <= width) {
  body {
    width: 50%;
    font-size-adjust: 0.45;
    font-size: 1.25rem;
    margin: 0.5rem auto;
  }

  pre {
    & > code {
      font-size: 1.25rem;
    }
  }

  select {
    font-size: 1rem;
  }

  section {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

a {
  color: #fe8019;
  text-decoration: underline;

  &:hover {
    background-color: #fb4934;
    color: white;
  }

  &:visited {
    background-color: #665c54;
    color: #a89984;

    &:hover {
      color: #fbf1c7;
    }
  }
}

pre {
  overflow-x: auto;
  padding: 0 0.5rem;
  font-weight: regular;

  & > code {
    &:before, &:after { content: ""; }
    font-family: "JetBrains Mono Regular", monospace;
    font-weight: normal;
  }

  background-color: none!important;
}

code {
  font-family: "JetBrains Mono Bold", monospace;
  &:after, &:before { content: "`"; }
}

blockquote {
  background-color: #282828;
  margin: 1rem 0;
  padding: 0.05rem 1rem;
}

hr {
  &.dashed {
    border-top: 1px dashed white;
    background: none;
    color: none;
  }
}

p {
  color: #ebdbb2;
}

.nav {
  border-bottom: 1.5px dashed #928374;
  padding-top: 1rem;
  padding-bottom: 1rem;

  & > ul {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    margin: 0;
    padding: 0;

    & > li:first-child {
      font-weight: 600;
    }

    li > a, li > span {
      font-size: 1.15rem;
      color: #fbf1c7;
    }
  }
}

.post-metadata {
  color: #bdae93;
}

ul {
  padding-left: 1rem;

  & > li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.footnote-definition {
  display: flex;
  gap: 0.25rem;

  & > p {
    margin: 0;
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

footer {
  border-top: 1.5px dashed #928374;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

strong {
  font-weight: 600;
}

h1:before {
  content: "# ";
  color: #fe8019;
}

h2:before {
  content: "## ";
  color: #fe8019;
}

h3:before {
  content: "### ";
  color: #fe8019;
}

time {
  font-family: "JetBrains Mono Regular", monospace;
  font-weight: regular;
}

.footnote-definition > sup {
  top: 0.5rem;
}
