@import 'components/nav.css';
@import 'components/footer.css';

body {
  font-size-adjust: 0.45;
  margin: 0 auto!important;
  font-weight: regular;
  font-family: serif;
  width: 95%;
}

section > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

section:has(nav) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (width >= 40rem) {
  body {
    width: 95%;
  }
}

@media (width >= 48rem) {
  body {
    width: 90%;
  }
}

@media (width >= 64rem) {
  body {
    width: 75%;
  }
}

@media (width >= 80rem) {
  body {
    width: 60%;
  }
}

@media (width >= 96rem) {
  body {
    width: 50rem;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  text-decoration: none!important;
}

