.tags {
  margin: 1rem 0;
}

.tags > span {
  padding: 0.15rem 0.25rem;
}

@media (prefers-color-scheme: dark) {
  .tags > span {
    background: rgb(255,255,255,0.09);
  }
}

@media (prefers-color-scheme: light) {
  .tags > span {
    background: rgb(0,0,0,0.09);
  }
}
