<ul>
  <li>GitHub: <a href="https://github.com/sekunho">@sekunho</a></li>
  <li>Mastodon: <a href="https://mastodon.social/@sekun">@sekun@mastodon.social</a></li>
  <li>YouTube: <a href="https://youtube.com/@sekunho">@sekunho</a>, <a href="https://youtube.com/@sekun2">@sekun2</a></li>
  <li>Twitch: <a href="https://twitch.tv/sekunho">@sekunho</a></li>
  <li>Twitter: <a href="https://twitter.com/sekunho_">@sekunho_</a></li>
  <li>BlueSky: <a href="https://bsky.app/profile/sekun.net">@sekun.net</a></li>
</ul>
