<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - sekun</title>

    <link rel="stylesheet" href="/assets/css/style.css"/>

    <link rel="icon" href="/assets/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
  </head>

  <body>
    {% include "component/header.html" %}
    {% block content %}{% endblock %}
    {% include "component/footer.html" %}

    <a rel="me" href="https://mastodon.social/@sekun" style="display: none;">Mastodon</a>
    <script>
      (function attachShadowRoots(root) {
        root.querySelectorAll("template[shadowrootmode]").forEach(template => {
          const mode = template.getAttribute("shadowrootmode");
          const shadowRoot = template.parentNode.attachShadow({ mode });

          shadowRoot.appendChild(template.content);
          template.remove();
          attachShadowRoots(shadowRoot);
        });
      })(document);
    </script>
  </body>
</html>
