<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - sekun</title>

    {% block head %}{% endblock head %}

    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/vendors/normalize.min.css"/>

    <link rel="icon" type="image/svg" href="/assets/images/favicon.svg">
    <link rel="icon" type="image/jpg" sizes="16x16" href="/assets/images/favicon-16x16.jpg">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.jpg">
    <link rel="icon" type="image/jpg" sizes="32x32" href="/assets/images/favicon-32x32.jpg">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg">

    <meta name="color-scheme" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
  </head>

  <body>
    {% include "component/nav.html" %}
    {% block content %}{% endblock %}
    {% include "component/footer.html" %}

    <a rel="me" href="https://mastodon.social/@sekun" style="display: none;">Mastodon</a>
    <script>
      (function attachShadowRoots(root) {
        root.querySelectorAll("template[shadowrootmode]").forEach(template => {
          const mode = template.getAttribute("shadowrootmode");
          const shadowRoot = template.parentNode.attachShadow({ mode });

          shadowRoot.appendChild(template.content);
          template.remove();
          attachShadowRoots(shadowRoot);
        });
      })(document);
    </script>
  </body>
</html>
