{% extends "layout/base.html" %}
{% from "component/figure.html" import figure %}
{% block title %}Home{% endblock %}

{% block content %}
<section>
  <h1>hi, i'm sekun</h1>
  <p>
    A software engineer with a specialty in backend systems and infrastructure.
    I like learning and making stuff with computers.
  </p>

  <ul>
    <li>current residence: 🇪🇸 spain</li>
    <li>email for business/consultancy: <a href="mailto:hi@tacohiro.systems">hi@tacohiro.systems</a></li>
    <li>github: <a href="https://github.com/sekunho">sekunho</a></li>
  </ul>
</section>


<section>
  <h2>Featured projects</h2>
  <p>
    A collection of projects that I had fun working on, and found interesting.
    I frequently dabble in languages with strong type systems.
  </p>

  <ul>
    <li>
      remotehiro
      (<a href="https://www.remotehiro.com">website</a>)
      - <code>rust axum sqlite moneyman nix nixos terraform hetzner</code>
      <br>
      A no-nonsense and lightweight job board with accessible data, and
      mandatory salary ranges.
    </li>

    <li>
      moneyman
      (<a href="https://github.com/tacohirosystems/moneyman">source code</a>,
      <a href="https://crates.io/crates/moneyman">crate (lib)</a>,
      <a href="https://crates.io/crates/moneyman_cli">crate (bin)</a>)
      - <code>rust nix</code>
      <br>
      A currency converter library for <code>rust</code> based on market data from the European Central Bank.
    </li>

    <li>
      www.sekun.net
      (<a href="/">website</a>,
      <a href="https://github.com/sekunho/www">source code</a>)
      - <code>puggle html nix</code>
      <br>
      My personal website
    </li>

    <li>
      puggle
      (<a href="https://github.com/sekunho/puggle">source code</a>)
      - <code>rust markdown html</code>
      <br>
      A personal and experimental static site generator. Generated <em>this</em> website!
    </li>

    <li>
      postgres-effectful
      (<a href="https://github.com/sekunho/postgres-effectful">source code</a>)
      - <code>haskell hasql</code>
      <br>
      A postgresql library that provides a safe interface for a haskell effect system
    </li>

    <li>
      emojied
      (<a href="/blog/what-i-learned-from-building-a-rust-emoji-url-shortener">article</a>,
      <a href="https://github.com/sekunho/emojied">source code</a>,
      <a href="https://hub.docker.com/r/hsekun/emojied">container</a>)
      - <code>rust axum postgres nix nixos container</code>
      <br>
      A nonsensical URL shortener that uses emojis instead of normal text.
    </li>
  </ul>

  <a href="https://github.com/sekunho">View all projects (GitHub)</a>
</section>

{% if pages.blog %}
<section>
  <h2>Latest posts</h2>
  <p>I write about my technical decisions, and things I learned.</p>
  <ul>
    {% for post in (pages.blog|sort(attribute="unix_created_at", reverse=true))[:8] %}
      <li>
        <time datetime="{{ post.created_at }}">{{ post.created_at|dateformat(format="short") }}</time> -
        <a href="/blog/{{ post.file_name }}">
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <a href="/blog">View all posts</a>
</section>
{% endif %}

<section>
  <h2>I'm also on...</h2>

  {% include "partial/social.html" %}
</section>

<section>
  <picture>
    <source srcset="/assets/images/hiro-alt.webp">
    <img src="/assets/images/hiro.webp" alt="Hiro, the shiba inu, sleeping">
  </picture>
  <p>
    <em>Hiro's sleeping...</em>
  </p>
</section>
{% endblock %}
