{% extends "layout/base.html" %}
{% block title %}{{ metadata.title }}{% endblock %}

{% block meta %}
  <meta name="title" content="{{ metadata.title }}" />
  <meta name="description" content="{{ metadata.custom.summary }}" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://metatags.io/" />
  <meta property="og:title" content="{{ metadata.title }}" />
  <meta property="og:description" content="{{ metadata.custom.summary }}" />
  <meta property="og:image" content="https://sekun.net{{ metadata.cover }}" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://metatags.io/" />
  <meta property="twitter:title" content="{{ metadata.title }}" />
  <meta property="twitter:description" content="{{ metadata.custom.summary }}" />
  <meta property="twitter:image" content="https://sekun.net{{ metadata.cover }}" />
{% endblock %}

{% block content %}{% endblock %}
