name: Deploy site
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v14
      - uses: DeterminateSystems/flake-checker-action@v9
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.TACOHIROSYSTEMS_TACOPKGS_SSH_PRIVATE_KEY }}
      - name: Build site
        run: nix build
      - name: Upload docs
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: result
  deploy:
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ci-${{ github.ref }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: site
      - name: Dump config for custom domain
        run: echo 'sekun.net' > CNAME
      - name: Deploy haddocks
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
